@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    max-width: 80vw;
    display: block;
    height: auto;
}

.products-button {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #59ad5c;
    color: white;
    position: absolute;
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    cursor: pointer;
    top: 51%;
    left: 28%;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.2s;
}

.recipes-button {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #59ad5c;
    color: white;
    position: absolute;
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    right: 29%;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.2s;
}

.webpage-name { display: none; }

.recipes-button:hover, .products-button:hover {
    transform: translateY(-4px);
    background-color: #3b703c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);  
}

@media (max-width: 992px) {
    .hero-img {
        display: none; 
    }

    .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        position: static;
        
        min-height: 60vh; 
        padding: 20px;
        box-sizing: border-box;
    }
    
    .webpage-name {
        display: block;
        text-align: center;
        
        font-size: 3rem; 
        font-weight: 800;
        color: #1A5319;
        letter-spacing: -1px;
        
        margin: 0 0 40px 0;
    }
    .products-button,
    .recipes-button {
        position: static;
        
        width: 100%;
        max-width: 320px;
        height: auto;
        padding: 25px 20px;
        margin-bottom: 20px;

        border-radius: 16px;
        background-color: #59ad5c;
        box-shadow: 0 10px 20px rgba(89, 173, 92, 0.2);
        
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    
    .products-button:active, 
    .recipes-button:active {
        transform: scale(0.98); /* Button presses in when tapped */
        background-color: #3b703c;
    }
}