@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-image {
    width: 25%;
}

.product-title {
    font-size: 2vw;
}

.product-price {
    font-size: 2vw;
}

.add-to-cart-button {
    background-color: rgb(80, 141, 78);
    padding: 1.5vw;
    border-radius: 6px;
    font-size: 1vw;
}

.macros {
    font-size: 1vw;
}

.extra-info-details {
    font-size: 1vw;
}

.macros-title {
    font-size: 2vw;
}

.extra-info-title {
    font-size: 1.5vw;
    text-decoration: underline;
    cursor: pointer;
}

body {
    margin: 0px;
}

.back-button {
    display: inline-block;
    padding: 10px 15px;    
    margin: 15px 0 15px 15px; 
    
    background-color: #1A5319;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;

    transition: background-color 0.2s ease, transform 0.1s ease;
}

.back-button:hover {
    background-color: #2F7C30;

    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.back-button:active {
    background-color: #1A5319; 
    box-shadow: none;
}
