@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.product-image {
    width: 25%;
}

.product-title {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
}

.add-to-cart {
    background-color: rgb(80, 141, 78);
    padding: 2%;
    border-radius: 6px;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

