.pildikonteriner-responsive {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toidukaupade-hinnad {
    position: absolute;
    cursor: pointer;
    width: 40%;
    height: 38%;
    top: 45%;
    left: 5%;
    background-color: transparent;
}
.retseptid {
    position: absolute;
    cursor: pointer;
    width: 40%; 
    height: 38%;
    top: 45%;
    right: 5%;
    background-color: transparent;
}